.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;

}


.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: cover;
  }
  
  .back {
    /* background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop); */
    background-image: url("../../../images/image1.jfif");
  }
  
  .front {
    background-image: url("../../../images/study2.jfif");
  }
   