.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;

}


.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: cover;
  }
  
  .back {
    background-image: url("../../../images/image1.jfif");
  }
  
  .front {
    background-image: url("../../../images/study2.jfif");
  }
   