.contact{
    padding: 5%;
    height: 400px;
}
.col-md-3{
    background: #ffb23f;
    padding: 2%;
}

.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
   
}

.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contactTitle{
    color: white;
    font-family: 'Dela Gothic One', cursive;
}
