.textStyle{
    font-family: 'Dela Gothic One', cursive;
    color: rgb(170, 102, 0);
}
img{
    width: 300px;
    height: 300px;
}

.photo-frame{
    /* border: 10px solid rgb(230, 197, 14); */
    box-shadow: 10px 10px 40px rgb(238, 169, 21);
    border-radius: 50px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: cover;
  }
  
  .back {
    background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  }
  
  .front {
    background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
  }
  
/* .photo-detail{
    position: absolute;
    display: none;
    width:300px;
    height:200px;
    top: 0;
}
img:hover .photo-detail{
    display: block;
    background-color: rgb(163, 135, 65,0.4);
}
img:hover .photo-detail h3{
    color: white;
    background-color: rgb(0, 226, 226);
    text-align: center;
}
.photo-frame:hover .photo-detail p{
    color: white;
    text-align: center;
} */